<input type="text" [(ngModel)]="name" />
<div>
  <h3>Кошка</h3>
  <div>
    <span>Имя: {{ cat.name }}</span>
    <button (click)="cat.rename(name)">Переименовать кошку, которая говорит {{ cat.say() }}</button>
  </div>
</div>

<div>
  <h3>Кошкаff</h3>
  <div>
    <span>Имя: {{ dog.name }}</span>
    <button (click)="dog.rename(name)">Переименовать собаку, которая говорит {{ dog.say() }} </button>
  </div>
</div>

<div> 
  <h3>Наша банда:</h3>
  <div *ngFor="let animal of band">
    <span>Имя: {{ animal.name }}, которая говорит {{ animal.say() }}</span>
  </div>
</div>

<div>
  <h3>Functions</h3>
  <table>
    <tr>
      <th>x</th>
      <th>f(x)</th>
    </tr>
    <tr *ngFor="let x of numbers">
      <td>{{ x }}</td>
      <td>{{ f(x) }}</td>
    </tr>
  </table>
</div>


<div class="toolbar">
  <div class="toolbar__items">
    <div class="toolbar__items__logo">
      <img src="/assets/lg.png" width="115" height="50">
    </div>
    <input class="toolbar__items__input" value="Поиск" />
  </div>
</div>

<div class="menu">
  <div class="menu__tool">
    <button class="button button-main"> {{ buttons.home }}</button>
    <button class="button button-menubar">{{ buttons.menu }}
      <ul class="submenu">
        <li><a href="">Личный кабинет</a></li>
        <li><a href="">Фотогалерея</a></li>
        <li><a href="">Форум</a></li>
        <li><a href="">Поддержка</a></li>
        <li><a href="">Карта сайта</a></li>
      </ul>
    </button>
    <button class="button button-bookmark">{{ buttons.bookmark }}</button>
  </div>
  <div class="menu__language">
    <button class="button-right button-rus" (click)="buttons.translate('rus')">
      <img src="/assets/rus.png" height="20" width="30" alt="rus">
    </button>
    <button class="button-right button-eng" (click)="buttons.translate('eng')">
      <img src="/assets/eng.png" height="20" width="30" alt="eng">
    </button>
  </div>
</div>

<p>dsufweifmwiefmlkewfnlewkfnelwkfnwlfeknwflwknflewkfnwelkfnwle</p>