<input type="text" [(ngModel)]="name" />
<div>
  <h3>Кошка</h3>
  <div>
    <span>Имя: {{ cat.name }}</span>
    <button (click)="cat.rename(name)">Переименовать кошку</button>
  </div>
</div>

<div>
  <h3>Кошкаff</h3>
  <div>
    <span>Имя: {{ cat2.name }}</span>
    <button (click)="cat2.rename(name)">Переименовать кошку</button>
  </div>
</div>


<div class="toolbar">
  <div class="toolbar__items">
    <div class="toolbar__items__logo">
      <img src="/assets/lg.png" width="115" height="50">
    </div>
  </div>
</div>

<div class="menu">
  <div class="menu__tool">
    <button class="button button-main"> {{ rus.home }} </button>
    <button class="button button-menubar">Меню</button>
    <button class="button button-bookmark">Закладка</button>
  </div>
  <div class="menu__language">
    <button class="button-right button-rus">
      <img src="/assets/rus.png" height="20" width="30" alt="rus">
    </button>
    <button class="button-right button-eng" (click)="rus.translate()">
      <img src="/assets/eng.png" height="20" width="30" alt="eng">
    </button>
  </div>
</div>