<input type="text" [(ngModel)]="name"/>
<div>
  <h3>Кошка</h3>
  <div>
    <span>Имя: {{ cat.name }}</span>
    <button (click)="cat.rename(name)">Переименовать кошку</button>
  </div>
</div>

<div>
  <h3>Кошкаff</h3>
  <div>
    <span>Имя: {{ cat2.name }}</span>
    <button (click)="cat2.rename(name)">Переименовать кошку</button>
  </div>
</div>


<div class="toolbar">
  <div class="toolbar__items">
    <div class="toolbar__items__logo">
      <img src="/assets/lg.png" width="100" height="50">
    </div>
  </div>
</div>